.add-link-page {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.redirect-home {
  display: flex;
  margin: 15px 0;
  font-size: 22px;
  line-height: 21px;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.ant-form-item-label {
  width: 80px;
  text-align: start;
}

.ant-btn-primary {
  display: flex;
  margin-left: auto;
}

.plus-icon {
  width: 40px;
  height: 40px;
}