.add-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-radius: 6px;
  border: 2px solid #ee692c;
  padding: 10px;

  &:hover {
    background-color: #e6e6e8;
  }
}

.add-link-plus {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ee692c;
  padding: 0 10px;
  border-radius: 6px;
  color: #ee692c;
  margin-right: 15px;
  background-color: #e6e6e8;

  img {
    width: 40px;
    height: 40px;
  }
}

.add-link-info {
  font-size: 40px;
  font-weight: 500;
  color: #048A81;
}

.arrow-left-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}