.card-active {
  display: none;
}

.card {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 6px;

  &:hover {
    border: 1px solid #c3c3c4;
    background-color: #e6e6e8;
  
    .card-active {
      display: block;
      position: absolute;
      right: -12px;
      top: -12px;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.icon-cancel-circle {
  color: red;
  width: 24px;
  height: 24px;
}

.link-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5px;
}

.link-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .link-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #ee692c;
  }

  .link {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    line-height: 16px;
  }
}

.link-interactions {
  display: flex;
  justify-content: space-between;
  color: #c3c3c4;
}

.link-vote {
  display: flex;
  background-color: #FFD639;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 6px;
  color: #2D3047;
  border: 1px solid black;
  margin-right: 10px;
  width: 85px;
}

.vote-counter {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.icon-arrow-up {
  margin-bottom: 2px;
  margin-right: 5px;
}

.icon-arrow-down {
  margin-top: 2px;
  margin-right: 5px;
}

.link-down-vote,
.link-up-vote {
  display: flex;
  align-items: center;
  font-weight: 700;

  img {
    width: 20px;
    height: 20px;
  }
}

.link-down-vote:hover,
.link-up-vote:hover {
  color: #048A81;
}

.ant-modal-footer {
  display: flex;
  justify-content: space-around;


  &.ant-btn {
    width: 200px;
  }
}

.delete-icon,
.arrow-up-icon,
.arrow-down-icon {
  width: 20px;
  height: 20px;
}