.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  margin-bottom: 20px;
  align-items: center;
}

.header-logo {
  width: 200px;
}

.header-title {
  font-size: 30px;
}